STRAND_ISSUER=http://localhost:8080

STRAND_OIDC_AUDIENCE=strand

STRAND_DB_URL=jdbc:postgresql://localhost:5432/strand
STRAND_DB_USER=strand
STRAND_DB_PASSWORD=strand

STRAND_SEED=false

STRAND_PORT=8080